# Base URL for the NestJS API (accessible from the browser/client-side)
NEXT_PUBLIC_API_URL=http://localhost:3002/api/v1

# Internal base URL for the NestJS API (accessible from the Next.js server-side during SSR)
# In Docker, this is usually set to http://backend:3002/api/v1
INTERNAL_API_URL=http://localhost:3002/api/v1

# Timeout for API requests in milliseconds (optional)
NEXT_PUBLIC_API_TIMEOUT=15000

# Application Name (optional)
NEXT_PUBLIC_APP_NAME="Rayaan E-Commerce"

# Application Base URL (optional)
NEXT_PUBLIC_APP_URL=http://localhost:3001
